
/* font-style */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
/* ----------------------
banner-style-start
------------------ */
.banner{
    background-color:  #2D25A0;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
 
.banner-heading{
    
    border: 1px solid#2D25A0;
    font-size: 40px;
    color: white;
    
}
.banner-img img{
    width: 70%;
    height: 400px;
    width: 500px;
    
    
}
button{
    background-color: 
    #E02C6D;
    color: white;
    font-size: 20px;
    padding: 5px;
    margin: 20px;
    
}
 /*-------------------
  banner-style-end
 ------------------- */

 /*-------------------
  player-info-style-start
  --------------------- */
 .all-players{
     display: flex;
     justify-content: center;
     margin-top: 70px;
 }
 .players{
     width: 1050px;
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-row-gap: 27px;
    
 }
 .player{
     width: 330px;
     height: 450px;
     border: 1px solid snow;
 }
 .player img{
     width: 300px;
 }
 /*-------------------
  player-info-style-end
  --------------------- */
  footer{
    
      display: flex;
      justify-content: center;
      align-items: center;}
  .fot-logo{
    width: 400px;
    height: 220px;
    border: 1px solid white;
  }