
/* font-style */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
/* ----------------------
banner-style-start
------------------ */
.banner{
    background-color:  #2D25A0;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
 
.banner-heading{
    
    border: 1px solid#2D25A0;
    font-size: 40px;
    color: white;
    
}
.banner:hover .banner-img{
    transform: scale(1.2);
    transition: transform 1s ease-in-out;
}
.banner-img img{
    width: 70%;
    height: 400px;
    width: 500px;
    
    
}
button{
    background-color: 
    #c52d65;
    color: white;
    font-size: 20px;
    padding: 5px;
    margin: 20px;
    display: inline-block;
    
}
button:hover{
    background-color: #68092c; 
}
 /*-------------------
  banner-style-end
 ------------------- */

 /*-------------------
  player-info-style-start
  --------------------- */
 .all-players{
     display: flex;
     justify-content: center;
     margin-top: 70px;
 }
 .players{
     width: 1050px;
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-row-gap: 27px;
    
 }
 .player{
     width: 330px;
     height: 450px;
     padding-left: 10px;
     border: 1px solid white;
     box-align: center;
     box-shadow: 5px 5px 5px rgba(245, 245, 245, 0.822);
     
 }
 .player img{
     width: 300px;
     border-radius: 10px;
 }
 /*-------------------
  player-info-style-end
  --------------------- */
  /*--------------------
   footer-style 
   -------------*/
  footer{
    
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    

      
    }
  .fot-logo{
    width: 400px;
    height: 220px;
    border: 1px solid white;
  }
.fot-logo img{
    width: 90%;
    padding-top: 80px;
    /*-------------- 
    footer-style-end 
    ------------------*/
}
/*--------------------------- 
media-query -------------------------
----------------------*/

/*------------------------
 mobile device 
 ---------------------*/
 @media only screen and (max-width:688px) {
     .banner{
         display: flex;
         flex-direction: column;
         width: 100%;
         height: unset;
     }
     .banner-img{
         width: 100%;
     }
      .players{
          grid-template-columns: repeat( 1,1fr);
          margin-left: 50px;
      }
 }
 /* responsive- for- mobile-end */
